CONFIG_LANGUAGE=c
CONFIG_TOOLCHAIN=gnu
CONFIG_CC=gcc
CONFIG_CFLAGS=-fdiagnostics-color -Wall -Wextra -Wpedantic -Wno-unused-variable -Wno-unused-const-variable -Wno-unused-parameter -Wno-unused-function -Wno-unused-but-set-variable -Werror -Wno-error=implicit-fallthrough -Wno-error=format -std=c11 -fno-common -O0
CONFIG_LDFLAGS=-fdiagnostics-color -fno-common -O0 -march=native
CONFIG_BUFFER_SIZE=4096
